<!DOCTYPE html>
<html>
<body>
  <h1>Nobel Peace Prize Winners</h1>
    <h3>All Physics Laureates:</h3>
      {% for each in subject %}
        <b>{{each["year"]}}</b>
        {% for person in each["laureates"] %}
          {{person["firstname"]}} {{person["surname"]}},
        {% endfor %}
        <br>
      {% endfor %}
      <h3>All 2018 Laureates:</h3>
      {{year}}
        {% for each in year%}
          <!-- {{each["firstname"]}} {{each["surname"]}} -->
          <!-- {% for person in each["laureates"]%}
            {{person["firstname"]}} {{person["surname"]}}
          {% endfor %} -->
          <!-- <b>{{each["year"]}}</b>
          {% for person in each["laureates"] %}
            {{person["firstname"]}} {{person["surname"]}},
          {% endfor %}
          <br> -->
        {% endfor %}
    <b>Surname</b>: {{surname}}
</body>
</html>
